body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:796px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1600px;
  height:796px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:390px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1424px;
  height:734px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:60px;
  width:1424px;
  height:734px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:359px;
  width:1420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:250px;
  width:153px;
  height:40px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:41px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:290px;
  width:153px;
  height:41px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:261px;
  width:85px;
  height:16px;
  color:#A1A1A1;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:732px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:63px;
  width:1430px;
  height:732px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:1426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:195px;
  width:1380px;
  height:209px;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:250px;
  height:40px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:0px;
  width:250px;
  height:40px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:0px;
  width:250px;
  height:40px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:0px;
  width:250px;
  height:40px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:0px;
  width:250px;
  height:40px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:84px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:125px;
  height:84px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:121px;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:84px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:40px;
  width:250px;
  height:84px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:246px;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:84px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:40px;
  width:250px;
  height:84px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:246px;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:84px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:40px;
  width:250px;
  height:84px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:246px;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:84px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:40px;
  width:250px;
  height:84px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:246px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:84px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:40px;
  width:250px;
  height:84px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:80px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:125px;
  height:80px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:121px;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:80px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:124px;
  width:250px;
  height:80px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:246px;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:80px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:124px;
  width:250px;
  height:80px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:246px;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:80px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:124px;
  width:250px;
  height:80px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:246px;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:80px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:124px;
  width:250px;
  height:80px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:246px;
  word-wrap:break-word;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:80px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:124px;
  width:250px;
  height:80px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:267px;
  width:30px;
  height:30px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855 {
  position:absolute;
  left:698px;
  top:330px;
  visibility:hidden;
}
#u855_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:266px;
  background-image:none;
}
#u855_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:266px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:125px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:31px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:214px;
  width:357px;
  height:31px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:214px;
  width:123px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:12px;
  width:57px;
  height:16px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:214px;
  width:123px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:109px;
  width:57px;
  height:16px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:102px;
  width:220px;
  height:30px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:105px;
  width:203px;
  height:25px;
}
#u870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:159px;
  width:43px;
  height:16px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:152px;
  width:220px;
  height:30px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:155px;
  width:203px;
  height:25px;
}
#u875_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:57px;
  width:57px;
  height:16px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:51px;
  width:220px;
  height:30px;
}
#u878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u878_input:disabled {
  color:grayText;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:274px;
  width:80px;
  height:16px;
  text-align:center;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:90px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:88px;
  width:1380px;
  height:90px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:1376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:106px;
  width:1px;
  height:16px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:106px;
  width:57px;
  height:16px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:98px;
  width:150px;
  height:32px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:106px;
  width:43px;
  height:16px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:98px;
  width:150px;
  height:32px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 162, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:100px;
  width:80px;
  height:30px;
  color:#FFFFFF;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:311px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:17px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:830px;
  width:627px;
  height:311px;
  font-size:17px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:607px;
  word-wrap:break-word;
}
#u897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:311px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:830px;
  width:571px;
  height:311px;
  font-size:14px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:551px;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:345px;
  width:30px;
  height:30px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:138px;
  width:40px;
  height:40px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:41px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:331px;
  width:153px;
  height:41px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:302px;
  width:85px;
  height:16px;
  color:#FF0000;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
